<div class="row col-sm-12 col-md-12 multiForm">
  <div class="row col-sm-12 col-md-5 card-container">
    <div class="card">
      <div class="row row col-sm-12 col-md-5 multi-breadcrumb">
          <ol>
              <li class="current" routerLink="">{{stepTitle}}</li>
                <li class="" routerLink="/step2">{{step2Title}}</li>
                <li class="" routerLink="/step3">{{step3Title}}</li>
            </ol>
      </div>
      <div class="row row col-sm-12 col-md-5 multi-form-body">
          <form [formGroup]="multiFG">
            <div class="row col-sm-12 col-md-5 form-row1">
                <input type="number" formControlName="TotalItems" class="form-control" placeholder="Total Items">
                <span *ngIf="(multiFG.controls.TotalItems.dirty || multiFG.controls.TotalItems.touched) && multiFG.controls['TotalItems'].errors?.required"><p class="error-text-red">Empy items is not acceptable</p></span>
                <span *ngIf="(multiFG.controls.TotalItems.dirty || multiFG.controls.TotalItems.touched) && multiFG.controls['TotalItems'].errors?.maxlength"><p class="error-text-red">This number is too high</p></span>
            </div>
            <div class="row col-sm-12 col-md-5 form-row1">
                <input type="text" formControlName="ShippingAddr" class="form-control" placeholder="Shipping Address">
                <span *ngIf="(multiFG.controls.ShippingAddr.dirty || multiFG.controls.ShippingAddr.touched) && multiFG.controls['ShippingAddr'].errors?.required"><p class="error-text-red">Empy address is not acceptable</p></span>
            </div>
          </form>
        </div>
        <div class="row row col-sm-12 col-md-5 multi-form-button">
            <button routerLink="{{nextUrl}}" class="btn btn-success pull-right" (click)="onSubmit()" [disabled]="!multiFG.valid">Next</button>
        </div>
      </div>
    </div>
  </div>