<div class="row col-sm-12 col-md-12 multiForm">
    <div class="row col-sm-12 col-md-5 card-container">
      <div class="card">
        <div class="row row col-sm-12 col-md-5 multi-breadcrumb">
            <ol>
                <li class="" routerLink="">{{step1Title}}</li>
                <li class="" routerLink="/step2">{{step2Title}}</li>
                <li class="current" routerLink="/step3">{{stepTitle}}</li>
              </ol>
        </div>
        <div class="row row col-sm-12 col-md-5 multi-form-body">
          <form [formGroup]="paymentFG">
            <div class="row col-sm-12 col-md-5 form-row1">
                <input type="number" formControlName="CardNumber" class="form-control" placeholder="Card Number">
                <span *ngIf="(paymentFG.controls.CardNumber.dirty || paymentFG.controls.CardNumber.touched) && paymentFG.controls['CardNumber'].errors?.required"><p class="error-text-red">Empy value is not acceptable</p></span>
                <span *ngIf="(paymentFG.controls.CardNumber.dirty) && paymentFG.controls['CardNumber'].errors?.minlength"><p class="error-text-red">Length cannot be less than 16 digits</p></span>
            </div>
            <div class="row col-sm-12 col-md-5 form-row1">
                <input type="text" formControlName="HolderName" class="form-control" placeholder="Holder's Name">
                <span *ngIf="(paymentFG.controls.HolderName.dirty || paymentFG.controls.HolderName.touched) && paymentFG.controls['HolderName'].errors?.required"><p class="error-text-red">Empy value is not acceptable</p></span>
                <span *ngIf="(paymentFG.controls.HolderName.dirty || paymentFG.controls.HolderName.touched) && paymentFG.controls['HolderName'].errors?.minlength"><p class="error-text-red">You must have a name</p></span>
            </div>
            <div class="row col-sm-12 col-md-5 form-row1">
                <input type="number" formControlName="CVV" class="form-control" placeholder="CVV">
                <span *ngIf="(paymentFG.controls.CVV.dirty || paymentFG.controls.CVV.touched) && paymentFG.controls['CVV'].errors?.required"><p class="error-text-red">Empy value is not acceptable</p></span>
                <span *ngIf="(paymentFG.controls.CVV.dirty || paymentFG.controls.CVV.touched) && paymentFG.controls['CVV'].errors?.maxlength"><p class="error-text-red">Length cannot exceed 3 digits</p></span>
            </div>
          </form>
        </div>
        <div class="row row col-sm-12 col-md-5 multi-form-button">
          <button class="btn btn-success pull-right" type="submit" (click)="onSubmit()" [disabled]="!paymentFG.valid">Submit</button>
        </div>
      </div>
    </div>
  </div>