.navbar {
    min-height: 15vh;
    color: white;
    text-align: center;
    border-radius: 0;
    margin-bottom: 0;
}

.navbar a {
    text-decoration: none;
    cursor: pointer;    
}

.navbar a:hover {
    color: white;
}

.container {
    margin-top: 6vh;   
}